<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>                
    <link rel="icon" href="/imagenes/file.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/ayuda.css">
</head>
<body>
    <header>
        <div class="logo">
        <img src="imagenes/file.png" height="120">
        </div>
        <nav>
            <a href="/home">inicio</a>
            <a href="">noticias</a>
            <a href="">Reseñas</a>
            <a href="">trucos</a>
            <a href="">comunidad</a>
        </nav>
        <div class="registro">              
             <a class="iniciar" href="/login">inciar secion</a>
             <a class="regristrarse" href="/usuario/0">regristrarse</a>
        </div>
    </header>
    <section>
        <article>                                                                 
            <div class="titulo"><h1>preguntas frecuentes</h1></div>
            <div class="descripcion">                                                                                    
                <h2>¿Tiene algún costo crear una cuenta de pizzis?</h2>
                <p>No. Crear una cuenta de pizzis es completamente gratis</p>                                               
                <h2>¿Por qué al crear una cuenta aparece el error 'la dirección de e-mail no es válida'?</h2>
                <p>Verificá que estés colocando el @, al menos un punto en el dominio y no dejar espacios en blanco.

                    Es muy importante que ingreses con atención tu e-mail, de lo contrario no podremos verificar tu correo y no podrás aprovechar todos los beneficios de tener una cuenta de pizzis</p>
            </div>
        </article>
    </section>
    <footer>
        <div class="footerconteiner">
          <div class="imagenfooter">
             <img src="/imagenes/file.png" height="150" width="150">
          </div>
           <div class="redes">
             <h4>¡siguenos!</h4>
             <a href="https://www.facebook.com/tuUsuario" target="_blank">
                 <i class="fab fa-facebook-f"></i>
             </a>
             <a href="https://www.twitter.com/tuUsuario" target="_blank">
                 <i class="fab fa-twitter"></i>
             </a>
             <a href="https://www.instagram.com/tuUsuario" target="_blank">
                 <i class="fab fa-instagram"></i>
             </a>
             <a href="https://www.linkedin.com/in/tuUsuario" target="_blank">
                 <i class="fab fa-linkedin-in"></i>
             </a>
             <a href="https://www.snapchat.com/add/tuUsuario" target="_blank">
                 <i class="fab fa-snapchat"></i>
             </a>
             <a href="https://www.tiktok.com/@tuUsuario" target="_blank">
                 <i class="fab fa-tiktok"></i>
             </a>
             <a href="https://wa.me/tuNumeroDeTelefono" target="_blank">
                 <i class="fab fa-whatsapp"></i>
             </a>
             <a href="https://www.youtube.com/tuUsuario" target="_blank">
                 <i class="fab fa-youtube"></i>
             </a>
           </div>
           <div class="links"> 
             <h4>mas links</h4>
             <ul>
                 <li><a href="/home">inicio</a></li>
                 <li><a href="/ayuda">ayuda</a></li>
                 <li><a href="/contactos">contactanos</a></li>
                 <li><a href="/politicas">politica de privacidad</a></li>
             </ul>
           </div>
        </div>       
 </footer>
    <script src="js/index.js"></script>
</body>
</html>