<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="imagenes/file.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/contactanos.css">
</head>
<body>
    <header>
        <div class="logo">
        <img src="imagenes/file.png" height="120">
        </div>
        <nav>
            <a href="/home">inicio</a>
            <a href="">noticias</a>
            <a href="">Reseñas</a>
            <a href="">trucos</a>
            <a href="">comunidad</a>
        </nav>                     
        <div class="registro">                                                                                                                                                                                                                     
             <a class="iniciar" href="/login">inicia sesion</a>
             <a class="regristrarse" href="/usuario/0">regristrarse</a>
        </div>
    </header>
    <section>
        <article>                                                                           
            <div class="titulo"><h1>contactanos</h1></div>
            <div class="descripcion">
                <p>¡Bienvenido a pizzis! Estamos encantados de que te hayas pasado por aquí,
                    siempre nos emociona escuchar a otros apasionados por los videojuegos. Si tienes alguna pregunta o sugerencia, 
                    ¡aquí tienes todas las formas de ponerte en contacto con nosotros!  </p>
                <h2>Correo Electrónico:</h2>                                                                                                                                                                                                         
                <p>Este es el mejor lugar para comunicarte directamente con nosotros. Ya sea que tengas preguntas sobre nuestras reseñas, si estás interesado en discutir posibles colaboraciones, etc ¡no dudes en enviarnos un correo! </p>
                <h2>Redes Sociales:</h2>
                <p>nos encanta interactuar con nuestros seguidores, así que no dudes en enviarnos un mensaje </p>
            </div>
            <div class="redes">
                <a href="https://www.facebook.com/tuUsuario" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/tuUsuario" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/tuUsuario" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/tuUsuario" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.snapchat.com/add/tuUsuario" target="_blank">
                    <i class="fab fa-snapchat"></i>
                </a>
                <a href="https://www.tiktok.com/@tuUsuario" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://wa.me/tuNumeroDeTelefono" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.youtube.com/tuUsuario" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <div class="descripcion">                                                                                                                                                                                                                                              
                <h2>Política de Respuesta:</h2>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                <p>Por favor, sé paciente, y si no recibes una respuesta dentro de una semana, te animamos a que nos envíes un recordatorio. Apreciamos mucho cada mensaje que recibimos y nos esfuerzamos por responder de  la manera mas detallada, útil y rapida posible.</p>
                <h2>Colaboraciones y Publicidad:</h2>                                                                                                                                                                                                                                                           
                <p>Si eres una marca, desarrollador de juegos, o un creador de contenido interesado en colaborar, nos encantaría hablar contigo. Estamos abiertos a:</p>
                                                                                                                                                               
                <p><span>Reseñas Patrocinadas:</span> Podemos ofrecer reseñas detalladas y honestas de productos, juegos o servicios relacionados con la industria gamer.</p>                                                  
                <p><span>Contenido Colaborativo:</span>Ya sea una aparición conjunta en streams, podcasts, o la creación de contenido especial, estoy abierto a explorar diferentes formas de colaboración.</p>
                <p><span>Unboxings y Primeras Impresiones:</span> Se realiza unboxings y primeras impresiones de productos en vivo o a través de videos editados. Esto es ideal para marcas que desean mostrar el empaquetado y la primera experiencia de uso de sus productos.</p>
            </div>                                                                                                                                                                                                                           
        </article>
    </section>
    <footer>
        <div class="footerconteiner">
          <div class="imagenfooter">
             <img src="/imagenes/file.png" height="150" width="150">
          </div>
           <div class="redes">
             <h4>¡siguenos!</h4>
             <a href="https://www.facebook.com/tuUsuario" target="_blank">
                 <i class="fab fa-facebook-f"></i>
             </a>
             <a href="https://www.twitter.com/tuUsuario" target="_blank">
                 <i class="fab fa-twitter"></i>
             </a>
             <a href="https://www.instagram.com/tuUsuario" target="_blank">
                 <i class="fab fa-instagram"></i>
             </a>
             <a href="https://www.linkedin.com/in/tuUsuario" target="_blank">
                 <i class="fab fa-linkedin-in"></i>
             </a>
             <a href="https://www.snapchat.com/add/tuUsuario" target="_blank">
                 <i class="fab fa-snapchat"></i>
             </a>
             <a href="https://www.tiktok.com/@tuUsuario" target="_blank">
                 <i class="fab fa-tiktok"></i>
             </a>
             <a href="https://wa.me/tuNumeroDeTelefono" target="_blank">
                 <i class="fab fa-whatsapp"></i>
             </a>
             <a href="https://www.youtube.com/tuUsuario" target="_blank">
                 <i class="fab fa-youtube"></i>
             </a>
           </div>
           <div class="links"> 
             <h4>mas links</h4>
             <ul>
                 <li><a href="/home">inicio</a></li>
                 <li><a href="/ayuda">ayuda</a></li>
                 <li><a href="/contactos">contactanos</a></li>
                 <li><a href="/politicas">politica de privacidad</a></li>
             </ul>
           </div>
        </div>       
 </footer>
    <script src="js/index.js"></script>
</body>
</html>