<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="imagenes/file.png">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/error.css">
</head>
<body> 
                                                                                                                                                                                       
    <section>     
        <p>esta página no existe </p>
         
        <img src="/public/imagenes/error.png" height="700px" width="700px">
        <h1> 404</h1>
    </section>
    
</body>
</html>