<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pizzis</title>                 
    <link rel="icon" href="imagenes/file.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
   
    <header>
        <div class="logo">                                
        <img src="imagenes/file.png" height="120">
        </div>
        <nav>
            <a href="/home">inicio</a>
            <a href="/noticias">noticias</a>
            <a href="">reseñas</a>
            <a href="/trucosytips">trucos</a>
            <a href="">comunidad</a>
        </nav>

        <div class="registro">         
            <% if (nombreUsuario) { %>
                <span class="usuario"> <%= nombreUsuario %></span>
                <a class="cerrar" href="/logout">Cerrar sesión</a>
                <% } else { %>
             <a class="iniciar" href="/login">iniciar sesion</a>
             <a class="regristrarse" href="/usuario/0">registrarse</a>
             <% } %>
        </div>
    </header>
 
    <!--30 junio-->
    <!--2 agosto-->
    <section>
        <article>
            <div class="presentacion"><h1>¡bienvenido a pizzis!</h1>                 
              <div class="descripcion"><p>¡buenos dias, tardes o noches gamer!
                <br>
                Si eres de los que pasan horas explorando mundos virtuales, derrotando enemigos, y sumergiéndote 
                en historias épicas, entonces este es tu lugar.
                En pizzis, encontrarás:
            
                 
                <p><span>reseñas</span> los últimos lanzamientos y de esos clásicos que nunca pasan de moda.</p>
                                                                                                                                              
                <p><span>guías y trucos</span> para ayudarte a superar esos niveles complicados y sacarle el máximo provecho a tus juegos.</p>
            
                <p><span>noticias y novedades</span> del mundo gamer, para que siempre estés al tanto de lo que se viene</p>
            
            <p>
                La comunidad gamer es increíblemente diversa y apasionada, y aquí queremos ser un punto de encuentro donde puedas compartir tus experiencias, aprender algo nuevo y, sobre todo, disfrutar de lo que más te gusta. Ya seas un jugador casual o un hardcore gamer, hay un lugar para ti en pizzis.

Así que prepara tu consola, ajusta tu silla gamer y acompáñanos en esta aventura. 
            </p>
        </div>  
            </div>
        </article>
    </section>
    <footer>
           <div class="footerconteiner">
             <div class="imagenfooter">
                <img src="/imagenes/file.png" height="150" width="150">
             </div>
              <div class="redes">
                <h4>¡siguenos!</h4>
                <a href="https://www.facebook.com/tuUsuario" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/tuUsuario" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/tuUsuario" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/tuUsuario" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.snapchat.com/add/tuUsuario" target="_blank">
                    <i class="fab fa-snapchat"></i>
                </a>
                <a href="https://www.tiktok.com/@tuUsuario" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://wa.me/tuNumeroDeTelefono" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.youtube.com/tuUsuario" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
              </div>
              <div class="links"> 
                <h4>mas links</h4>
                <ul>
                    <li><a href="/home">inicio</a></li>
                    <li><a href="/ayuda">ayuda</a></li>
                    <li><a href="/contactos">contactanos</a></li>
                    <li><a href="/politicas">politica de privacidad</a></li>
                </ul>
              </div>
           </div>       
    </footer>
   
    <script src="js/index.js"></script>
</body>
</html>

