<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/public/imagenes/file.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ya calificaste</title>
  <link rel="stylesheet" href="/public/css/yavotaste.css">
</head>
<body>
  <div class="container">
    <div class="message-box">
      <h1>Ya calificaste con esta cuenta</h1>
      <p class="description">No es posible califciar más de una vez.</p>
      <a href="/resenas" class="btn-volver">Volver a reseñas</a>
    </div>
  </div>
</body>
</html>
