*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;                                                                                       
    height: 500px;
    margin: 0;
    background-image: url("/public/imagenes/gru-gru-no.gif");
}