body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 5px;
    text-align: center; 
}

.miniatura {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
}

.content {
    text-align: center;
}

p {
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 20px;
}

small {
    display: block;
    text-align: right;
    color: #bbb;
    margin-top: 10px;
}

h3 {
    font-size: 1.8em;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 5px;
}


.calificacion-promedio {
    text-align: center;
    margin-top: 20px;
}

.calificacion-promedio p {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.estrellas-promedio {
    color: gold;
    font-size: 2em;
}


.calificar-container {
    text-align: center;
    margin-top: 20px;
}

.estrellas-boton-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.estrellas-calificacion {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    color: #ccc;
}

.estrellas-calificacion input {
    display: none;
}

.estrellas-calificacion label {
    float: right;
    padding: 5px;
    color: #444;
    transition: all 0.2s;
}

.estrellas-calificacion label:hover,
.estrellas-calificacion label:hover ~ label,
.estrellas-calificacion input:checked ~ label {
    color: gold;
}

.boton-calificar {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-calificar:hover {
    background-color: #cc0000;
}


.video-resena {
    display: block;
    margin: 20px auto;
    max-width: 70%;
    height: 500px;
    border: 2px solid #ff0000;
    border-radius: 10px;
}
.autor-reseña {
    display: block;
    font-size: 1.1em;
    color: #f0f0f0;
    background-color: #2a2a2a;
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 80%;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.autor-reseña:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.autor-reseña::before {
    content: "🖋️";
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    color: #ff0000;
}

.autor-reseña span {
    display: inline-block;
    margin-left: 5px;
    color: #ff0000;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #2a2a2a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

li strong {
    color: #ff0000;
    font-size: 1.2em;
}

form {
    display: inline;
}

button {
    background-color: #ff0000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em; 
    margin: 5px;
    max-width: 150px; 
}

button:hover {
    background-color: #cc0000; 
}


.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3; 
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #f0f0f0;
    resize: none;
    margin-bottom: 10px;
    font-size: 1em;
}

.sesion{
    text-align: center;
}
.share-button{
    display: flex;
    justify-content: end;
    text-align: end;
    background-color: #333;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.share-button:hover {
    background-color: #097ac4;
    transform: scale(1.05);
}