body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.titulo-noticia {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 5px;
    text-align: center;
}

.miniatura {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
}

.content {
    text-align: center;
}

p {
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 20px;
}
small {
    display: block;
    text-align: right;
    color: #bbb;
    margin-top: 10px;
}

.video-noticia {
    display: block;
    margin: 20px auto;
    max-width: 70%;
    height: 500px;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

.interacciones {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
    border-radius: 8px;
   
}

.like-button, .dislike-button, .share-button ,.angry-button , .surprise-button{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.surprise-button:hover{
    background: linear-gradient(rgb(255, 137, 137),rgb(255, 35, 35));
    transform: scale(1.05);
}
.like-button:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
}
.angry-button:hover{
    background: linear-gradient(yellow,orange);
    transform: scale(1.05);
}
.dislike-button:hover {
    background-color: #646464;
    transform: scale(1.05);
}

.share-button:hover {
    background-color: #097ac4;
    transform: scale(1.05);
}

button span {
    margin-left: 5px;
    color: #ffffff;
}

button:active {
    transform: scale(0.95);
}
h3 {
    font-size: 1.8em;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 5px;
}    
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #2a2a2a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

li strong {
    color: #ff0000;
    font-size: 1.2em;
}

form {
    display: inline;
}

button {
    background-color: #ff0000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em; 
    margin: 5px;
    max-width: 150px; 
}

button:hover {
    background-color: #cc0000; 
}


.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3; 
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #f0f0f0;
    resize: none;
    margin-bottom: 10px;
    font-size: 1em;
}

.sesion{
    text-align: center;
}
.autor {
    font-size: 22px;
}
.autor strong {
    font-size: 22px;
    color: #f44336;
}